<%- include('partials/navbar')%>
  <%- include('partials/important')%>
    <%- include('partials/messages')%>
    
      <!-- <%- include('partials/messanger')%> -->
      <div class="desktop">
        <div class="container">
          <div class="jumbotron bg-image rounded-bottom">
            <div class="innerBGbg-image"></div>
            <!-- <div class="innerBGbg-image" style="left: 93% !important;"></div> -->

            <h1 class="display-4 text-center IK_SjsI" style="
            width: 50%;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            background: -webkit-linear-gradient(#84f989,#17b7ff);
            ">Welcome <%= user.name %>
            </h1>
            <p class="lead text-center IK_SjsI">Feel happy to see you again</p>
            <hr class="my-4">
            <img src="<%= user.coverImagePath %>" alt="<%= user.name %>" class="Dp">
            
          </div>
          <div class="container pb-5">
            <div class="row mt-2">
              <p class="lead">Popular Feaure</p>
              <div class="col-4">
                <div class="accordion shadow-lg" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed text-primary" type="button"
                          data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                          aria-controls="collapseOne">
                          Online Peoples <a href="#" class="badge badge-primary float-right online-person"></a>
                        </button>
                      </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="list-group user-list" style="max-height: 200px; overflow-y:auto;"></div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed text-primary" type="button"
                          data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                          aria-controls="collapseTwo">
                          Create Reminders
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        <form action="/reminder" method="post">
                          <div class="form-group">
                            <label for="reminder">Reminder</label>
                            <textarea name="reminder" id="reminder" cols="32" rows="3" required
                              placeholder="Enter your Reminder" style="width: 100%;padding: 4px;"></textarea>
                            <button type="submit" class="btn btn-primary mt-2">Save</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed text-primary" type="button"
                          data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                          aria-controls="collapseThree">
                          Total Links <a href="#" class="badge badge-primary float-right">
                            <%= link.length%>
                          </a>
                        </button>
                      </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <% if(link.length == 0){%>
                        <div class="list-group" style="max-height: 240px; overflow-y:auto;">
                          <p class="lead text-center">You have 0 link.</p>
                          <%} else {%>
                          <% for(var l=0 ; l < link.length; l++) { %>
                            <a href=<%=link[l].link %> target="_blank" class="list-group-item list-group-item-action">
                              <%= link[l].For %></a>
                            <% } %>
                            <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- other project -->
                  <div class="card mb-5">
                    <div class="card-header" id="headingFour">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed text-primary" type="button"
                          data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                          aria-controls="collapseFour">
                          Other Projects
                        </button>
                      </h2>
                    </div>

                    <div id="collapseFour" class="collapse" aria-labelledby="headingOne"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="list-group">
                          <a href="https://vegihub.in" class="list-group-item list-group-item-action">Vegihub</a>
                          <a href="https://shapeyou.herokuapp.com"
                            class="list-group-item list-group-item-action">ShapeYou</a>
                          <a href="#" class="list-group-item list-group-item-action">ChatApp</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                
                  <!-- error yha the -->
                <!-- </div> -->

                <!-- flex -->
                <div class="col-8 pb-5">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Reminders</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="profile-tab" href="#profile" role="tab" aria-controls="profile"
                        aria-selected="false" data-toggle="modal" data-target="#saveNote">Notes</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                        aria-controls="contact" aria-selected="false">Links</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active bg-light shadow-lg" id="home" role="tabpanel"
                      aria-labelledby="home-tab" style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-top-right-radius: 5px">
                      <!-- start reimnder -->
                     
                      <% for(var i=0; i < reminder.length; i++) { %>
                        <div class="accordion" id="accordionExample">
                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                  data-target="#reminder1" aria-expanded="true" aria-controls="collapseOne">
                                  <code>  <%= reminder[i].date %></code>
                                </button>
                              </h2>
                            </div>
                            <div id="reminder1" class="collapse show" aria-labelledby="headingOne"
                              data-parent="#accordionExample">
                              <div class="card-body border-bottom LLineEW">
                                <%= reminder[i].reminder %>
                              </div>
                              <form action="/delete-reminder" method="post">
                                <input type="hidden" name="reminderId" value=<%=reminder[i]._id%>>
                                <button class="btn btn-danger m-2" style="width: 100px;margin-left: 20px;"><i
                                    class="fas fa-trash" aria-hidden="true"></i>
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                        <% } %>
  
                        <% if(reminder.length == 0){ %>
                          <p class="text-center" style="padding: 30px 0px;">All clear</p>
                          <% } %>
                          <!--end reminer  -->
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    </div>
                    <div class="tab-pane fade " id="contact" role="tabpanel" aria-labelledby="contact-tab">
                      <% for(var j=0; j < link.length; j++) { %>
                        <ul class="list-group list-group-flush rounded">
                          <li class="list-group-item list-group-item-action border-bottom" style="
                            word-wrap: break-word;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                          ">
                            <label for="for">
                              <%= link[j].For %>
                            </label><br>
                            <a href=<%=link[j].link %> id="for" target="_blank"><%= link[j].link %></a>
                            <form action="/link-delete" method="POST">
                              <input type="hidden" value="<%=link[j]._id %>" name="AID">
                              <button type="submit" class="flex float-right btn btn-danger"
                                style="margin-top: -47px;">Delete</button>
                            </form>
                          </li>
                        </ul>
                        <% } %>
                          <form action="/link" method="post" class="form-group mt-3 shadow-lg">
                            <input type="text" class="form-control mb-2" placeholder="Link For What ?" name="For">
                            <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Enter Link" name="link">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Save</button>
                              </div>
                            </div>
                          </form>
                    </div>
                  </div>
                  </div>
                 
                </div>
              </div>
              <!-- end -->
          </div>
        </div>
      </div>

      <div class="mobile">
        <h3 class="bg-blue pl-2">WorkSpace</h3>
        <img src="/mobile.svg" alt="image" class="img-fluid">
        <p class="text-center mt-5">Dear <span id="user_name">
            <%= user.name %>
          </span> You Are Using Small Screen <b>WorkSpace</b> is not Compatible with Mobile <i
            class="fa fa-mobile"></i>.<br>Switch to Desktop <i class="fa fa-desktop"></i> or Laptop <i
            class="fa fa-laptop"></i>.<br><b>From support Team</b><br>
          <a href="/logout" class="btn btn-primary mt-3"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </p>
      </div>


        <%- include('partials/dashFooter')%>

      <script src="socket.js"></script>
      <style>
       .IK_SjsI{
         font-weight: bold;
         padding: 5px;
         position: inherit;
         background-color: #dee1fc;
         margin: 0 auto;
         width: 33%;
         color: #000;
         border-radius: 3px;
       }
        .Dp{
          padding: 3px;
          display: block;
          margin: 0 auto;
          border: 6px solid #3f51b5 !important;
          object-fit: cover;
          object-position: center;
          height: 190px !important;
          width: 190px !important;
          border-radius: 100px !important;
          transition: border .2s ease-in-out;
          cursor: pointer;
          z-index: 999;
          position: relative;
        }
        .Dp:hover{
          padding: 2px;
          border: 2px dashed #9a3be7 !important;
          box-shadow: 0px 0px 15px 16px rgba(0,0,0,.04);
        }

        .innerBGbg-image{
          background-color:transparent;
          fill:rgb(207, 156, 236);
          height: 357px;
          width: 100%;
          background-size:60px 60px;
          position: absolute;
          bottom: 1px;
          left: 50%;
          transform: translate(-50%);
          background-repeat:repeat;
          background-image:url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' fill-opacity='1' style='enable-background:new 0 0 500 500'%3E%3Cstyle%3E .st0{fill:rgba(207, 156, 236,0.7)} %3C/style%3E%3Ccircle class='st0' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='336.6' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='336.6' r='12.7'/%3E%3Cg%3E%3Ccircle class='st0' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='.7' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='.7' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='419.5' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='419.5' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='500.7' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='500.7' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='170.9' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='170.9' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='253.8' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='253.8' r='12.7'/%3E%3C/g%3E%3Cg%3E%3Ccircle class='st0' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='83.3' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='166.7' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='250' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='333.3' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='416.7' cy='88' r='12.7'/%3E%3Ccircle class='st0' cx='500' cy='88' r='12.7'/%3E%3C/g%3E%3C/svg%3E");
        }
        .bg-image{
          background-image: linear-gradient(50deg, rgb(27 16 29), rgb(12 94 158));
          background-origin: center;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
        }
        .mobile {
          display: none;
        }
        .mobile h3 {
          line-height: 50px;
          color: #fff;
        }
        #user_name {
          font-weight: bold;
          text-transform: capitalize;
        }
        @media screen and (max-width : 500px) {
          .desktop {
            display: block;
          }
          .mobile {
            display: none;
          }
          nav {
            display: block !important
          }
          .important {
            display: block !important
          }
          .ml-5{
            margin-left: 5px !important;
            padding: 10px 9px !important;
          }
          .switch{
            margin-bottom: -4px !important;
            padding: 13.6px 10px !important;
          }
        }
      </style>


