
<%- include ('partials/navbar') -%>
<%- include ('partials/messages') -%>
<%- include ('partials/important') -%>


 
<div class="container mt-5 pb-5">
    <div class="preview" id="preview">
        <div class="x">X</div>
        <div>
            <img id="preIMG-IMG">
        </div>
    </div>
    <% if(img.length == 0) {%>
        <p class="lead messages_rmpUD shadow-lg border">
            You don't have any image to view. For uploading image click on upload button.
            <button
            class="btn btn-primary btn-lg mt-3 px-5"
            style="
            display: block;
            margin: 0 auto;
            "
            data-toggle="modal" data-target="#images"
            >Upload</button>
        </p>
        <%} else {%>
        <% if(img) { %>
            <div class="present_wr">
                <% img.forEach(m => { %>
                <div class="flex-GRID">
                    <img src="<%= m.coverImagePath %>" alt="<%= user.username%>" id="imgPre" class="mt-3" style="width:200px;height:auto">
                    <a href="image/d/<%= m._id%>" class="btn btn-danger btn-block mt-2 btn_FULL">Delete</a>
                    <input type="hidden" class="pb-4">
                </div>
                <% }) %>
            </div>
        <% } else { %>
            <p class="text-center" style="font-size: 30px;">No file to show</p>
            <%}%>
            <%}%>
    
</div>

<%- include('partials/dashFooter')%>


<style>
    .messages_rmpUD{
        padding: 10px 30px;
        border: 1px solid #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 5px;
    }
    img{
        border: 3px solid #eee;
        border-radius: 3px;
        object-fit: cover;
        cursor: pointer;
    }
    .present_wr{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .preview{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        height: 450px;
        width: 600px;
        background-color: #000;
        border-radius: 5px;
        box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.4);
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
    .x{
        color: #eee;
        float: right;
        padding: 5px 10px;
        font-size: 20px;
        background-color: rgb(94, 94, 94);
        border-top-right-radius: 5px;
        cursor: pointer;

    }
    @media screen and (min-width:300px) and (max-width:550px){
        .present_wr{
         align-items: center !important;
        }
        img{
            width: 100% !important;
        }
    }
</style>

<script>
    var img = document.getElementById('imgPre').src;
    var pre = document.getElementById('preview');
    var x = document.getElementsByClassName('x')[0];

    img.addEventListener('click',()=>{
        pre.classList.add('show')
        document.getElementById('preIMG-IMG').src = img
    })

    x.addEventListener('click',()=>{
        pre.classList.add('hide')
    })

</script>