
<%- include ('partials/navbar') -%>
<%- include ('partials/messages') -%>
<%- include ('partials/important') -%>


 
<div class="container mt-5">
    <div class="">
        <% if(img) { %>
            <div class="present_wr">
                <% img.forEach(m => { %>
                <img src="<%= m.coverImagePath %>" alt="<%= user.username%>" style="width:200px;height:auto">
                <% }) %>
            </div>
        <% } else { %>
            <p class="text-center" style="font-size: 30px;">No file to show</p>
            <%}%>
    </div>
</div>


<style>
    img{
        border: 3px solid #eee;
        border-radius: 3px;
        object-fit: cover;
    }
</style>