<%- include ('partials/navbar') -%>
<!-- <%- include ('partials/messanger') -%> -->
<%- include ('partials/important') -%>
<%- include ('partials/messages') -%>

<div class="container">
    <div class="card mb-3">
        <div class="bg-image" alt="next"></div>
        <div class="card-body">
          <h5 class="card-title border-bottom">What to Do next --</h5>
          <!-- <p class="card-text text-center">Nothing to Show ... <i class="fa fa-eercast" aria-hidden="true"></i></p> -->
          <div class="display-task">
          <p class="project-title">Create Capstone project <br>Topic is Social Media Plateform</p>
          <p class="card-text"><small class="text-muted">Allot on 26 Nov 11:39 AM</small></p>
          </div>
        </div>
      </div>
</div>

<%- include('partials/dashFooter')%>

<style>
    .bg-image{
      height: 300px;
      width: 100%;
      background-image: linear-gradient(180deg,rgba(74, 82, 90, 0.1),rgba(3, 35, 53, 0.3),rgba(27, 77, 107, 0.25),rgba(0,0,0,0.2)),url(/inovation.png);
      background-position: center;
    }
</style>