<%- include ('partials/navbar') -%>
<!-- <%- include ('partials/messanger') -%> -->
<%- include ('partials/important') -%>
<%- include ('partials/messages') -%>

<div class="container pb-5">
    <div class="jumbotron jumbotron-fluid border-bottom bg-image"
    style="border-bottom-left-radius: 8px !important;border-bottom-right-radius: 8px !important"
    >
        <div class="container">
          <h1 class="display-4 text-center">Notes</h1>
        </div>
    </div>

    <% if(note.length <= 0) {%>
      <div class="img-notFound">
        <img src="/notfound.svg" height="340px" width="340px" alt="You Dont have any note" class="Nots Found"/>
        <p class="note-msg mt-3">You have <%= note.length %> Notes <br>Create some Notes</p>
        <div data-toggle="modal" data-target="#saveNote" class="divBtn">Create Note</div>
      </div>
    <%} else {%>
      <div class="total_notes">
       <h2 class="text-info mt-1">Total Notes: <%= note.length %></h2>
       <h2 class="text-info mt-1">Author: <%= user.name %></h2>
      </div>
    <% for(var i=0; i < note.length; i++) {%>
    <div class="card mt-2 card1" style="margin-top: 2rem !important;">
        <div class="card-header">
         <%= note[i].type %> <code class="float-right">Publish on  <%= note[i].date %></code>
        </div>
        <form method="post" action="/note/edit/<%=note[i]._id%>">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <textarea class="form-control textarea" id="newNoteOI" name="note" wrap="off" rows="13" spellcheck="off"><%= note[i].note%></textarea>
            <!-- <code class="blockquote-footer"><cite title="Source Title" style="color: gold;"><%= note[i].writer %></cite></code> -->
            <div class="mt-3">
            <button type="submit" class="btn btn-info note-btn"><i class="fas fa-pencil-square-o"></i> Edit</button>
            </form>
            <a href="/note/d/<%=note[i]._id %>" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
            </div>
          </blockquote>
        </div>
      </div>
      <!-- for else -->
     <% } %> 
     <!-- for loop -->
     <% } %> 
</div>


<%- include('partials/dashFooter')%>


<style>
  .img-notFound{
    z-index: -1;
  }
</style>