<%- include ('partials/navbar') -%>
  <%- include ('partials/messanger') -%>
  <%- include ('partials/important') -%>
    <%- include ('partials/messages') -%>
    
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
      <div class="container pb-5">
        <% if(note.length==0) {%>
          <p class="lead">There is no work.</p>
          <%} else {%>
            <% for(var i=0; i < note.length; i++) {%>
              <div class="card mt-2 card1" style="margin-top: 2rem !important;">
                <div class="card-header">
                  <%= note[i].type %> <code class="float-right">Publish on  <%= note[i].date %></code>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <textarea class="form-control textarea" name="preV" id="noteMaxHeight" disabled><%= note[i].note%></textarea>
                    <code
                      class="blockquote-footer"><cite title="Source Title" style="color: gold;"><%= note[i].writer %></cite></code>
                  </blockquote>
                </div>
              </div>
              <% } %>
                <% } %>
      </div>

      <%- include('partials/dashFooter')%>


        <script>
          CKEDITOR.replace( 'preV' );
          const area = document.getElementById('noteMaxHeight').value
          area.length < area.length + 30
          area.rows = 10 * -area.length
        </script>


        <style>
          .border {
            padding: 10px;
            border: 1px solid #000;
          }

          p {
            padding: 10px;
            border: 1px solid #000;
          }

          /* body{
    background-color: #02090e !important;
    padding-bottom: 50px !important;
  }
  .bg-image{
    background-image: linear-gradient(180deg,rgb(0 0 0 / 22%),rgb(70 70 70 / 57%),rgb(20 22 23 / 57%),rgb(0 0 0 / 57%)) ,url(https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500) !important;
  }
  .footer-note{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #000;
    text-align: center !important;
  }
  .footer-note code{
    line-height: 30px;
    font-size: 100;
    font-size: 12px;
  }
  .bg-blue{
    background-image: linear-gradient(70deg,#dc3545,#da5cb3) !important;
  }
  .note{
    background: #ea4494 !important;
  }
  .images{
    background: #428cd4 !important;
  }
  .todo{
    background: #dc3545 !important;
  }
  .reminder{
    background: #ffc107 !important;
  } */
        </style>